<% form_for(@mediaplan) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label t(:rianame) %><br />
    <%= f.text_field :rianame %>
  </p>
  <p>
    <%= f.label t(:riacontactpersone) %><br />
    <%= f.text_field :riacontactpersone %>
  </p>
  <p>
    <%= f.label t(:riaphone) %><br />
    <%= f.text_field :riaphone %>
  </p>
  <p>
    <%= f.label t(:riamobile) %><br />
    <%= f.text_field :riamobile %>
  </p>
  <p>
    <%= f.label t(:riaemail) %><br />
    <%= f.text_field :riaemail %>
  </p>
  <p>
    <%= f.label t(:mediaplanauthidory) %><br />
    <%= f.text_area :mediaplanauthidory %>
  </p>
  <p>
    <%= f.label t(:mediaplanexits) %><br />
    <%= f.text_field :mediaplanexits %>
  </p>
  <p>
    <%= f.label t(:mediaplanmonth) %><br />
    <%= calendar_date_select :mediaplan, :mediaplanmonth %>
  </p>
  <p>
    <%= f.label t(:mediaplaaddstypeid) %><br />
    <%= f.text_field :mediaplaaddstypeid %>
  </p>
  <p>
    <%= f.label t(:mediaplasize) %><br />
    <%= f.text_area :mediaplasize %>
  </p>
  <p>
    <%= f.label t(:mediaplanaditionalinfo) %><br />
    <%= f.text_field :mediaplanaditionalinfo %>
  </p>
  <p>
    <%= f.submit t('Create') %>
  </p>
<% end %>

