<% content_for :sidebar do %>
	<li><%= link_to t('Edit'), edit_mediaplan_path(@mediaplan) %></li>
	<li><%= link_to t('Back'), mediaplans_path %></li>
<% end %>
<p>
  <b><%= t(:rianame) %>:</b>
  <%=h @mediaplan.rianame %>
</p>

<p>
  <b><%= t(:riacontactpersone) %>:</b>
  <%=h @mediaplan.riacontactpersone %>
</p>

<p>
  <b><%= t(:riaphone) %>:</b>
  <%=h @mediaplan.riaphone %>
</p>

<p>
  <b><%= t(:riamobile) %>:</b>
  <%=h @mediaplan.riamobile %>
</p>

<p>
  <b><%= t(:riaemail) %>:</b>
  <%=h @mediaplan.riaemail %>
</p>

<p>
  <b><%= t(:mediaplanauthidory) %>:</b>
  <%=h @mediaplan.mediaplanauthidory %>
</p>

<p>
  <b><%= t(:mediaplanexits) %>:</b>
  <%=h @mediaplan.mediaplanexits %>
</p>

<p>
  <b><%= t(:mediaplanmonth) %>:</b>
  <%=h @mediaplan.mediaplanmonth %>
</p>

<p>
  <b><%= t(:mediaplaaddstypeid) %>:</b>
  <%=h @mediaplan.mediaplaaddstypeid %>
</p>

<p>
  <b><%= t(:mediaplasize) %>:</b>
  <%=h @mediaplan.mediaplasize %>
</p>

<p>
  <b><%= t(:mediaplanaditionalinfo) %>:</b>
  <%=h @mediaplan.mediaplanaditionalinfo %>
</p>

