<% content_for :sidebar do %>
	<li><%= link_to 'Edit', edit_mediaplan_path(@mediaplan) %></li>
	<li><%= link_to 'Back', mediaplans_path %></li>
<% end %>
<p>
  <b>Rianame:</b>
  <%=h @mediaplan.rianame %>
</p>

<p>
  <b>Riacontactpersone:</b>
  <%=h @mediaplan.riacontactpersone %>
</p>

<p>
  <b>Riaphone:</b>
  <%=h @mediaplan.riaphone %>
</p>

<p>
  <b>Riamobile:</b>
  <%=h @mediaplan.riamobile %>
</p>

<p>
  <b>Riaemail:</b>
  <%=h @mediaplan.riaemail %>
</p>

<p>
  <b>Mediaplanauthidory:</b>
  <%=h @mediaplan.mediaplanauthidory %>
</p>

<p>
  <b>Mediaplanexits:</b>
  <%=h @mediaplan.mediaplanexits %>
</p>

<p>
  <b>Mediaplanmonth:</b>
  <%=h @mediaplan.mediaplanmonth %>
</p>

<p>
  <b>Mediaplaaddstypeid:</b>
  <%=h @mediaplan.mediaplaaddstypeid %>
</p>

<p>
  <b>Mediaplasize:</b>
  <%=h @mediaplan.mediaplasize %>
</p>

<p>
  <b>Mediaplanaditionalinfo:</b>
  <%=h @mediaplan.mediaplanaditionalinfo %>
</p>



